/******* primera pantalla y nav *******/
@media(min-width: 320px) and (max-width: 768px){
  .navbar-light{
    width: 100%;    
  }  
  .front{
    display: block;
  }
  html,{
    width: 100%;
    overflow-x: hidden;
  }
  .bgimage{
    width: 100%;
    margin-top: -55.5%;
  }
  .middler{
    margin-top: 100%;
    overflow-x: hidden;
  } 
  .light{
    font-size: 30px;    
    margin-right: 30%;
  }
  .bold{
    font-size:30px;
    margin-left: -25%;
  }
  .algo{
    margin-left:-30%
  }
  .title{
    font-size: 200%;
    text-align: center;
    margin-top: 7%;
    margin-left: 30%;
    margin-bottom: 5%;
  }
  }
/************ pantalla about ************/
@media(min-width: 320px) and (max-width: 768px){
  .container{
    width: 100%;
    margin-left: -15%; 
    height: 20%;   
  }
  .subject{
    font-size: 16px
  }
  .listasoft{
    margin-left:1%;
  } 
  .card-body, .img-container{
    margin-bottom: 3%;
  }  
}
/************ pantalla contact *****/
@media(min-width:320px) and (max-width: 768px){
  .contact{
    width: 100%;
  }
  .form-control{
    width: 100%;
  }
  #contact{
    margin-left:1%;
  }
  .scrolll{
    margin-left: 50vh;
  }
  
  form{
    text-align: center;
  }
  
}