html{
  scroll-behavior: smooth;
}

.container-fluid{
  margin-left:50px;
  margin-right:50px;  
}

/*navigation*/
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
a:link{
  color:white;
}

a:visited{
  color:#DCDCDC;
}
a:hover{
  color:#b953d3;
  /* background-color:#f4f4f4; */
}
.active{
  border-bottom: 2px solid #b953d3;
}


.navbar{
  background-color:rgba(21, 17, 31, 0.466);
  opacity:0.8;
  filter: alpha(opacity=80);
  margin:-2px;
}
.navbar-brand{
  color:#f4f4f4;
}

/*background image*/
.bgimage{
  margin-top: -15.5%;
  width:100%;  
  background: url(../../assets/img/fondomuro2.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  box-shadow:0 5px 5px rgba(0, 0, 0, 0.2); 
}

h2{
  margin-bottom:20px;
}

.portfolio{
  margin-left:50px;
  margin-right:50px;
}

.thumbnail{
  border:none;
  box-shadow:0 5px 5px rgba(0, 0, 0, 0.2); 
}

.contact{
  background-color:#15111f;
  color:#f4f4f4;
}

.btn{
  margin-bottom:30px;
  background-color:#15111f;
  border:1px solid white;
}

.btn-primary:hover{
  -webkit-transition:1s ease;
  transition:1s ease;
  background-color:#b953d3;
  color:#15111f;
  border:1px solid white;
}

.btn-success:hover{
  -webkit-transition:1s esae;
  transition:1s ease;
  background-color:#b953d3;
  color:#15111f;
  border:1px solid white;
}

.footer{
  background-color:#f4f4f4;
  padding:10px;
}
/********************* canvas *******/
@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  background-color: #eee;
  min-height: 100%;
  color: #fff;
  background-image: url("../../assets/img/mirandayohola.jpg");
  background-size: cover;
  background-position: center;
  font-family: Raleway, sans-serif;
}

#title {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 20px;
  letter-spacing: 0.1em;
  z-index: 100;
  color: #fff;
}
/********** home *******/
#wrapper {
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 9em;
  padding: 50px 0;
  width: 300px;
  margin-left: 35%;
  margin-top:5%;
}
.bgimage{
  height:100vh;
}

span { 
  text-shadow: -0.06em 0 red,  0.06em 0 cyan; /* This creates the 3D effect, pretty easy, eh? */
  letter-spacing: 0.08em; /* make sure the letters don't overlap */
}

p {
  margin: 0;
}

/* ---------------- Stars ---------------- */

#stars span {
  display: inline-block;
  transform: scale(1);
  transition: transform 2s cubic-bezier(0, 1, 0, 1);
}
#stars span:hover {
  cursor: crosshair;
  transform: scale(1.3); /* This adds a hover effect */
  transition: transform .2s cubic-bezier(0, 0.75, 0, 1);
}
#stars span:active {
  text-shadow: none; /* Click to disable the 3D effect */
}

/* Below the stars animation */
#stars span:nth-child(1), #stars span:nth-child(5) { font-size: 0.3em; animation-delay: 0.2s; }
#stars span:nth-child(2), #stars span:nth-child(4) { font-size: 0.5em; animation-delay: 0.1s; }
#stars span:nth-child(3) { font-size: 0.8em; animation-delay: 0s; }

#stars span { animation: stars-animation 3s 50 ease-in-out; }

@-webkit-keyframes stars-animation {
  0% { transform: scale(1); }
  90% { transform: scale(1); }
  95% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

#stars:hover span {
  animation: none; /* Disables the animation on hover */
}


/* ---------------- Title ---------------- */

#title {
  font-family: Helvetica, Geneva, sans-serif; /* Any font would work, but SansSerif looks better */
}
#title:focus {
  outline: none;
}
#title span {
  vertical-align: middle;
  line-height: 1.5em;
  transition: font-size 2s cubic-bezier(0, 1, 0, 1);
}
#title span:hover {
  font-size: 1.5em; /* This adds a hover effect */
  line-height: 1em;
  transition: font-size .2s cubic-bezier(0, 0.75, 0, 1);
}
#title span:active {
  font-size: 1em;
  text-shadow: none; /* Click to disable the 3D effect */
}
#title span::selection {
  background-color: red; /* This hides the selection */
}


/* ---------------- Slogan ---------------- */

#slogan { 
  font-size: 0.2em;
  margin-top:5%;
 }
#slogan span:active { 
  text-shadow: none; 
}




/* Below just some styling for the meta info */

#meta {
  color: #777;
  font-size: 1.2em;
  line-height: 1.6em;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0 1px 0;
  margin: 30px;
}
#meta strong { font-weight: bold; color: #000; }
#meta p:first-child { margin-bottom: 20px; }
#meta a { text-decoration: none; color: #7276ff; }
#meta a:hover { color: rgba(114,118,255,0.5); }
#meta img { vertical-align: text-bottom; }

/************ sobre mi ***************/
/*
@import 'https://fonts.googleapis.com/css?family=Bree+Serif';


h3 {
  -webkit-animation: glitch 3s steps(100) infinite;
          animation: glitch 3s steps(100) infinite;
  color: #151515;
  font-size: 3em;
  
}

@media (min-width: 480px) {
  h3 {
    font-size: 2.3em;
    margin-top: 10%;
  }
}

@-webkit-keyframes glitch { 
  0% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  1% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  2% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  3% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  4% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  5% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  6% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  7% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  8% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  9% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  10% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  11% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  12% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  13% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  14% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  15% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  16% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  17% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  18% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  19% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  20% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  21% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  22% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  23% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  24% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  25% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  26% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  27% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  28% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  29% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  30% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  31% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  32% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  33% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  34% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  35% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  36% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  37% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  38% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  39% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  40% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  41% { text-shadow: 45px 0 0 #0c33f5, -45px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  42% { text-shadow: 0 0 0 #0c33f5, 0 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  43% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  44% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  45% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  46% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  47% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  48% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  49% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  50% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  51% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  52% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  53% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  54% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  55% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  56% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  57% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  58% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  59% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  60% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  61% { text-shadow: 30px 0 0 red, -30px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  62% { text-shadow: 0 0 0 red, 0 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  63% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  64% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  65% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  66% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  67% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  68% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  69% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  70% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  71% { text-shadow: 50px 0 0 red, -50px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  72% { text-shadow: 0 0 0 red, 0 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  73% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  74% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  75% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  76% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  77% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  78% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  79% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  80% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  81% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  82% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  83% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  84% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  85% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  86% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  87% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  88% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  89% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  90% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  91% { text-shadow: 60px 0 0 lime, -60px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  92% { text-shadow: 0 0 0 lime, 0 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  92% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  93% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  94% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  95% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  96% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  97% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  98% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  99% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  100% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);} }

@keyframes glitch { 
  0% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  1% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  2% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  3% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  4% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  5% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  6% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  7% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  8% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  9% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  10% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  11% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  12% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  13% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  14% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  15% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  16% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  17% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  18% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  19% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  20% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  21% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  22% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  23% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  24% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  25% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  26% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  27% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  28% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  29% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  30% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  31% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  32% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  33% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  34% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  35% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  36% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  37% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  38% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  39% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  40% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  41% { text-shadow: 45px 0 0 #0c33f5, -45px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  42% { text-shadow: 0 0 0 #0c33f5, 0 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  43% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  44% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  45% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  46% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  47% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  48% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  49% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  50% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  51% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  52% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  53% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  54% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  55% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  56% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  57% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  58% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  59% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  60% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  61% { text-shadow: 30px 0 0 red, -30px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  62% { text-shadow: 0 0 0 red, 0 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  63% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  64% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  65% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  66% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  67% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  68% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  69% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  70% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  71% { text-shadow: 50px 0 0 red, -50px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  72% { text-shadow: 0 0 0 red, 0 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  73% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  74% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  75% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  76% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  77% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  78% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  79% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  80% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  81% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  82% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  83% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  84% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  85% { text-shadow: 1px 0 0 red, -1px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  86% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  87% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0.5px); filter: blur(0.5px);}
  88% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  89% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  90% { text-shadow: -3px 0 0 red, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  91% { text-shadow: 60px 0 0 lime, -60px 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  92% { text-shadow: 0 0 0 lime, 0 0 0 #0c33f5; -webkit-filter: blur(0); filter: blur(0);}
  92% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  93% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  94% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  95% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  96% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  97% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  98% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  99% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);}
  100% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; -webkit-filter: blur(0); filter: blur(0);} 
}
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Montserrat', sans-serif;
}

.middler{  
	width:100%;
	text-align:center;
	margin-top:40vh;
}

.light, .bold{
	font-size:94px;
	cursor:default;
}
.title{
  font-size: 50px;
}

.light{
	font-weight:300;
}

.bold{
	font-weight:700;
}

.console{
	width:600px;
	height:200px;
	background:black;
	font-family:Consolas;
	color:white;
}

@keyframes splash {
    0% {opacity: 1;}
	 99.9% {opacity: 1;}
    100% {opacity: 0;}
}

.cGlitch{
	position:absolute;
	z-index:1;
	overflow:hidden;
	animation: splash 100ms normal forwards ease-in-out;
	pointer-events:none;
}

.redClone{color:#F44336;}
.greenClone{color:#8BC34A;}
.blueClone{color:#2196f3;}
.purpleClone{color:#673ab7;}
.yellowClone{color:#E4ED5E;}
.cyanClone{color:#5EEDC5;}
.defaultClone{z-index:-1 !important;color:black;}


.hide{
	display:none !important;
}

.colorNaturalizer{
	color:transparent;
}

.love{
	fill:black;
}
/******* sobre mi fin *******/
  .container{
    display: flex;
    align-content: space-between;
    justify-content: center;
    width: 70%;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 1px 1px 25px 0.5px  #212121;
    padding: 20px;
    margin-top: 3%;
}

.card{
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 50.3%;
    background-color: transparent;
    margin: 5%;        
}
.profile, .portafolio{
  margin:2%;
}
.listasoft{
  margin-left:5%;
}
.listskills{
  margin-bottom: -6%;
}
.img-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.img-container > img {
    min-width: 75px;
    min-height: 75px;
}

.description{
    display: inline;
    font-size: 0.85rem;
    padding: 20px;
    text-align: center;
    color: #aeaeae;
}

.subject {
    padding: 20px;
    font-size: 1.30rem;
    text-align: center;
    color: black;
    margin-left: 25%;
}
li{
  color: black;
}
#animateList li a {
  cursor: pointer;
  -webkit-transition: padding-left 250ms ease-out;
  -moz-transition: padding-left 250ms ease-out;
}

#animateList li a:hover {
  padding-left: 10px;
}
#animateList2 li a {
  cursor: pointer;
  -webkit-transition: padding-left 250ms ease-out;
  -moz-transition: padding-left 250ms ease-out;
}

#animateList2 li a:hover {
  padding-left: 10px;
}
.aboutMe{
  height: 100vh;
}
ul.list-check li {
  position: relative;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.download-button{
  text-align: center;
  margin: 1%;
}
/**************** foto**************/
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Lato);
.snip1508 {
  font-family: 'Lato', sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: #1A1A1A;
}

.snip1508 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1508 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1508 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 30px;
  background-color: #202123;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.snip1508 h2,
.snip1508 h3,
.snip1508 p {
  margin: 0;
}

.snip1508 h2,
.snip1508 h3 {
  font-family: 'Slabo 27px', serif;
  line-height: 1.2em;
}

.snip1508 h2 {
  font-size: 1.9em;
  color: #35ADF9;
}

.snip1508 h3 {
  color: #EBEBEB;
  font-size: 1.3em;
  font-weight: normal;
  letter-spacing: 1px;
}

.snip1508 p {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.9em;
  margin-top: 12px;
  padding: 12px 0 15px;
  line-height: 1.5em;
}

.snip1508 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1508:hover > img,
.snip1508.hover > img {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.snip1508:hover figcaption,
.snip1508.hover figcaption {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}




  /**************************** proyectos *********************************/
 /*****************************contacto***********************************/
 .footer {
	background-color: #2f2c37;
}
 
 .scroll-up a {
	background-color: #68c3a3;
	display: block;
	width: 28px;
	height: 28px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 28px;
}

.scroll-up a:hover,
.scroll-up a:active {
	background-color: rgba(235, 235, 235, .8);
	color: #222;
}